<form class="form-inline" method="get" action="/quizes/<%= quiz.id %>/answer">
	<h4 class="text-capitalize"><strong>Tema: </strong><%= quiz.tema %></h4>
	<p><strong>Pregunta: </strong><%= quiz.pregunta %></p>
	<div class="input-group">
		<input type="text" class="form-control" name="respuesta" placeholder="Respuesta" required/>
		<span class="input-group-btn">
			<input type="submit" class="btn btn-info" value="Enviar"/>
		</span>
    </div><!-- /input-group -->
</form>

<br><p><a href="/quizes"><button type="button" class="btn btn-default">Lista preguntas</button></a>
<a href="/quizes/<%= quiz.id %>/comments/new"><button type="button" class="btn btn-default">Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments) { %>
	<%if(quiz.Comments[index].publicado || session.user){%>
		<p>- <%=quiz.Comments[index].texto%>
			<%if(session.user && !quiz.Comments[index].publicado){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
							<button type="button" class="btn btn-default">Publicar</button></a>
			<%}%>
		</p>
	<%}%>	
<% } %>
