<h3>Estadísticas</h3>
<ul class="list-group">
	<li class="list-group-item"><span class="badge"><%= nquizes %></span>El número de preguntas totales</li>
  <li class="list-group-item"><span class="badge"><%= ncomments %></span>El número de comentarios totales</li>
  <li class="list-group-item"><span class="badge"><%= ncomments/nquizes %></span>El número medio de comentarios por pregunta</li>
  <li class="list-group-item"><span class="badge"><%= nquizes-nquizes_comments %></span>El número de preguntas sin comentarios</li>
  <li class="list-group-item"><span class="badge"><%= nquizes_comments %></span>El número de preguntas con comentarios</li>
</ul>
